<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

  <title>WeDJ</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="{% static 'wedj/css/playlist.css' %}" rel="stylesheet">
</head>

<body>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new link</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Link:</label>
              <input type="text" class="form-control" id="message-text"></input>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="submit-button" type="button" class="btn btn-primary" onclick="add_link()">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="content-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">WeDJ</h3>
            <nav class="nav nav-masthead">
              <a class="nav-link" href="../../">Home</a>
              <a class="nav-link" href="#">Features</a>
            </nav>
          </div>
        </div>

        <div class="inner content">
          <div class="card">
            <div class="card-body">
              <ul id="playlist-list" class="list-group">
              </ul>
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add
              link</button>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>WeDJ, 2019</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{% static 'wedj/js/playlist.js' %}"></script>
  <script>
    var playlistId = "{{playlist_id}}";
    startWs(playlistId);
    $(document).keypress(function(e) {
    if(e.which == 13) {
        if($("#submit-button").is(":visible"))
          $("#submit-button").click();
    }
    });
  </script>


</body>

</html>