.list {
    width: 100%;
    min-width: 50%;
    min-height: 15em;
    overflow: auto;
    :global(.ant-list-item) {
        border-bottom: 1px solid #e8e8e844;
    }
    :global(.ant-empty-description) {
        color: white;
    }
}

.container {
    overflow: auto;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media (min-width: 0em) {
    .container {
        width: 100%;
    }
    .list {
        max-height: none;

    }
}

@media (min-width: 42em) {
    .container {
        width: 42em;
    }
    .list {
        max-height: 30em;

    }
}

.leftItem {
    display: inline-flex;
    width:100%;
    height: 100%;
    margin-bottom: 0;
    float: left;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightItem {
    display: inline-flex;
    height: 100%;
    margin-bottom: 0;
    float: right;
    color: white;
}

.musicButton {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-color: white;
    background-color: white;
    color: black;
    :global(.anticon){
        display: flex;
    }
}

.musicButton:hover {
    border-color: black;
    background-color: black;
    color: white
}

.musicButton:focus {
    border-color: white;
    background-color: white;
    color: black
}

.itemContainer {
    display:flex;
    width: 100%;
    align-items: center;
}

.list::-webkit-scrollbar {
    width: 1.7em;
}

.list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1em 1em transparent;
}

.list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1em 1em grey;
    border: solid 0.5em transparent;
	border-radius: 2em;
}
