.Content {
    text-align: center;
}
header {
    min-height: 100%;
    width: 100%;
    height: 100%; /* NEW */
 }
.Root-Layout {
    background: rgba(0, 0, 0, .65) url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    min-height: 100vh;

}