[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"

[requires]
python_version = "3.7"
