.root {
    :global(.ant-modal) {
        width:1000px;
    }
}

.basicButton {
    width: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
    border-color: white;
    background-color: white;
    color: black;
}

.basicButton:hover {
    border-color: black;
    background-color: black;
    color: white
}

.basicButton:focus {
    border-color: white;
    background-color: white;
    color: black
}

.addButton {
    font-weight: bold;
}

.addButton > span {
    font-weight: normal;
}

