@import url("base.css");
@media (min-width: 0em) {
  .content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
.content{
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}