@import url("base.css");
@media (min-width: 0em) {
  .content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

@media (min-width: 42em) {
  .content {
    margin-right: auto;
    margin-left: auto;
    width: 42rem;
  }
}

.card {
  color: #000;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  text-shadow: none;
}
.card-body {
  width: 100%;
  height: 100%;
}

.content{
  text-align: center;
}